<!-- Header Start -->
<div class="header" id="header">
  <div class="content-inner">
    <p>I'm</p>
    <h1>
      {{ profile.name }}
    </h1>
    <div appTypingAnimation [text]="profile.title"></div>
  </div>
</div>
<!-- Header End -->
<!-- Large Button Start -->
<div class="large-btn">
  <div class="content-inner">
    <a class="btn" href="#"><i class="fa fa-download"></i>Resume</a>
    <a class="btn" href="#"><i class="fa fa-hands-helping"></i>Hire Me</a>
  </div>
</div>
<!-- Large Button End -->
